<div class="p-5">
    <div class="row">
        <div class="col-xl-4">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <label class="font-title">Ingreso de información</label>
                    </div>
                    <form #userForm="ngForm">

                        <div class="form-group row">
                            <div class="col-11">
                                <input type="text" class="form-control" name="name" placeholder="Nombre"
                                    [(ngModel)]="userService.userSelected.name" required>
                            </div>
                            <div class="col-1 m-auto pt-2 required"></div>
                        </div>

                        <div class="form-group row">
                            <div class="col-11">
                                <input type="text" class="form-control" name="phone" placeholder="Teléfono"
                                    [(ngModel)]="userService.userSelected.phone" required>
                            </div>
                            <div class="col-1 m-auto pt-2 required"></div>
                        </div>

                        <div class="form-group row">
                            <div class="col-11">
                                <label class="mt-3 label">Fecha de nacimiento</label>
                                <input type="date" class="form-control pt-0 fecha-derecha" name="birth_date"
                                [(ngModel)]="userService.userSelected.birth_date" placeholder="Fecha de nacimiento" required>
                            </div>
                            <div class="col-1 mt-4 pt-3 required"></div>
                        </div>

                        <div class="form-group row">
                            <div class="col-11">
                                <input type="text" class="form-control" name="address" placeholder="Dirección"
                                    [(ngModel)]="userService.userSelected.address" required>
                            </div>
                            <div class="col-1 m-auto pt-2 required"></div>
                        </div>

                        <div class="form-group row">
                            <div class="col-11">
                                <input type="text" class="form-control" name="email" placeholder="Correo electrónico"
                                    [(ngModel)]="userService.userSelected.email" required>
                            </div>
                            <div class="col-1 m-auto pt-2 required"></div>
                        </div>

                        
                        <label class="mt-2 label-required">* campos obligatorios</label>
                        <div class="d-flex justify-content-center mt-3">
                            <button class="btn btn-primary" [disabled]="userForm.invalid"
                                (click)="addUser(userForm)" readonly="readonly">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="d-flex justify-content-end">
                        <label class="font-title">Lista de contactos</label>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="filterId" id="filter"
                                    placeholder="Busqueda por ID">
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped mt-3">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Teléfono</th>
                                <th>Fecha Nacimiento</th>
                                <th>Edad</th>
                                <th>Dirección</th>
                                <th>Correo electrónico</th>
                                <th>Operaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of userList; index as i ">
                                <td class="pt-3">{{i + 1}}</td>
                                <td class="pt-3">{{user.name}}</td>
                                <td class="pt-3">{{user.phone}}</td>
                                <td class="pt-3">{{user.birth_date}}</td>
                                <td class="pt-3">{{user.birth_date}}</td>
                                <td class="pt-3">{{user.address}}</td>
                                <td class="pt-3">{{user.email}}</td>
                                <td>
                                    <a class="btn btn-secondary btn-sm pt-0 pb-0 margin-button"
                                        (click)="editUser(user)">
                                        <i class="material-icons pt-2">edit</i>
                                    </a>
                                    <a class="btn btn-danger btn-sm pt-0 pb-0 margin-button"
                                        (click)="deleteUser(user._id, userForm )">
                                        <i class="material-icons pt-2">delete</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>